body {
  font-family: 'Lato', sans-serif;
  background-color: #3C4144;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.toggle {
  display: inline-block;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-color: #E0E2EA;
  cursor: pointer;
}

#bookmark-container {
  margin: 40px auto;
  max-width: 1200px;
}

#bookmark-container > .category {
  margin-bottom: 16px;
}

.category {
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: RGBA(25, 29, 32, 0.25);
  margin: 16px 0;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.category.collapsed {
  height: 40px;
  overflow: hidden;
}

.category.collapsed .category,
.category.collapsed .item {
  display: none;
}

.category .title {
  color: rgba(237, 239, 243, 0.8);
  padding: 0 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-top: 18px;
  transition: all 0.2s ease-in-out;
}

.category.collapsed .title {
  margin-top: 6px;
  color: rgba(237, 239, 243, 0.4);
}

.category .content {
  width: 100%;
  margin-right: 3%;
}

.category.collapsed .icon {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
  opacity: 0.6;
  background-image: url('../img/arrow.svg');
  right: 24px;
  top: 10px;
  transform: rotate(-90deg);
}

.item {
  position: relative;
  display: inline-block;
  margin: 6px;
  background-color: RGBA(101, 109, 120, 0.6);
  user-select: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  box-shadow: 0px 10px 30px 0px rgba(20, 22, 28, 0.2);
}

.item a {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  color: rgba(237, 239, 243, 0.8);
  line-height: 32px;
  padding: 0 24px 0 40px;
  font-weight: 400;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
}

.item a:focus {
  background-color: RGBA(170, 178, 189, 0.3);
  box-shadow: 0px 10px 30px 0px rgba(20, 22, 28, 0.2);
  border: none;
  outline: none;
}

.item:hover a {
  color: rgba(237, 239, 243, 1.0);
}

.item a .favicon {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 16px;
  width: 16px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.item.delete a .favicon {
  opacity: 0;
}

.item .close {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.item.delete .close {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  opacity: 1;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
}

/*LIGHT MODE*/
body.lightmode {
  background-color: RGBA(203, 209, 227, 0.2);
}

.lightmode .category {
  background-color: RGBA(170, 178, 189, 0.20)
}

.lightmode .category .title {
  color: RGBA(25, 29, 32, 0.7);
}

.lightmode .category.collapsed .title {
  color: RGBA(25, 29, 32, 0.4);
}

.lightmode .category.collapsed .icon {
  color: RGBA(25, 29, 32, 0.4);
  filter: brightness(.5);
}

.lightmode .item {
  background-color: RGBA(255, 255, 255, 0.8);
}

.lightmode .item:hover {
  box-shadow: 0px 10px 30px 0px rgba(20, 22, 28, 0.05);
}

.lightmode .item a {
  color: RGBA(25, 29, 32, 0.8);
}

.lightmode .item a:focus {
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(20, 22, 28, 0.05);
}