body {
  padding: 16px;
}

input {
  height: 30px;
  width: 240px;
  font-size: 12px;
  margin-bottom: 24px;
  padding: 4px 8px;
}

h2 {
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
}

button {
  margin-top: 15px;
  padding: 8px;
  width: 100%;
  line-height: 24px;
  font-size: 13px;
  cursor: pointer;
  background-color: #E5E8ED;
  border: none;
}

.category {
  color: black;
  display: block;
  line-height: 40px;
  background-color: RGBA(83, 86, 90, 0.2);
  margin: 8px;
}

.category .category {
  display: inline-block;
  margin: 0 8px;
  padding: 0 8px;
}

.category.hide {
  display: none;
}

.category.normal {
  font-weight: normal;
}

.category.bold {
  font-weight: bold;
}

.category.active {
  color: red;
}